@charset "UTF-8";
html, body, h2, h3, h4, h5, p, span, i, input, img, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #fff; }

img, a:hover img {
  border: none; }

img {
  width: 100%;
  border: 0;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: block; }

a {
  text-decoration: none;
  color: #000;
  cursor: pointer; }

ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

form {
  margin: 0; }

input, select, button {
  color: #333;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-appearance: none; }

textarea {
  padding: 0;
  border: none;
  outline: none;
  color: #333;
  resize: none;
  text-align: justify; }

a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  list-style: none; }

a:link, a:visited {
  text-decoration: none; }

/* 链接颜色 */
a:hover, a:focus {
  text-decoration: none;
  color: #2a6496; }

b {
  font-weight: normal; }

i {
  font-style: normal; }

ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

table {
  border-collapse: collapse;
  text-align: center;
  border-spacing: 0; }

td, th {
  padding: 0; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0; }

.clearfix {
  zoom: 1; }

.fl {
  float: left; }

.fr {
  float: right; }

@font-face {
  font-family: FZKATJW;
  src: url("../../assets/FZKATJW.TTF"); }

body,
html {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'FZKATJW'; }

.hide {
  display: none; }

#gameContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; }

.foot {
  position: absolute;
  width: 110%;
  left: 50%;
  bottom: -.5rem;
  transform: translateX(-50%);
  z-index: 3; }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  overflow: hidden; }
  .loading p {
    font-size: .6rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #000; }

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  overflow: hidden; }
  .page .logo {
    position: absolute;
    width: 2rem;
    left: .3rem;
    top: .3rem; }

.page1 {
  z-index: 5; }
  .page1 .main {
    width: 80%;
    margin: 0 auto;
    margin-top: 1.2rem; }
    .page1 .main .hand {
      width: 70%;
      margin: 0 auto; }
    .page1 .main .text {
      margin: .2rem;
      padding: .4rem .3rem;
      position: relative; }
      .page1 .main .text h1 {
        font-size: .35rem;
        text-align: center;
        line-height: 1.3;
        color: #d76aa9; }
      .page1 .main .text .icon {
        position: absolute;
        right: -.6rem;
        top: -1.2rem;
        width: 2.4rem;
        z-index: -1; }

.page2 {
  z-index: 5; }
  .page2 .box {
    width: 6rem;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translateX(-50%); }
    .page2 .box h1, .page2 .box h2 {
      float: left;
      font-size: .5rem;
      color: #d168ad;
      font-weight: bold;
      text-shadow: #fff 2px 0 0,#fff 0 2px 0,#fff -2px 0 0,#fff 0 -2px 0;
      -webkit-text-shadow: #fff 2px 0 0,#fff 0 2px 0,#fff -2px 0 0,#fff 0 -2px 0;
      -moz-text-shadow: #fff 2px 0 0,#fff 0 2px 0,#fff -2px 0 0,#fff 0 -2px 0; }
    .page2 .box .hp {
      margin: 0 .1rem;
      width: 3.5rem;
      height: .5rem;
      border-radius: 20px;
      border: 3px solid rgba(255, 255, 255, 0.6);
      background: #fff;
      padding: 1px; }
      .page2 .box .hp div {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        position: relative; }
        .page2 .box .hp div p {
          height: 100%;
          width: 0%;
          background: #fff; }
        .page2 .box .hp div .run {
          position: absolute;
          left: 0;
          top: 65%;
          transform: translate(-35%, -50%);
          width: 1rem; }
        .page2 .box .hp div .runGif {
          position: absolute;
          left: 0;
          bottom: 100%;
          transform: translate(-45%, 0);
          width: 1.8rem; }

.messagePage {
  position: absolute;
  right: .1rem;
  top: .1rem;
  width: 2rem;
  z-index: 4; }
  .messagePage .score {
    position: relative;
    margin-bottom: .2rem; }
    .messagePage .score p {
      font-size: 0.5rem;
      color: #d76aa9;
      position: absolute;
      left: 1.2rem;
      top: .18rem;
      transform: translateX(-50%); }
  .messagePage .time {
    position: relative; }
    .messagePage .time p {
      font-size: 0.5rem;
      color: #d76aa9;
      position: absolute;
      left: 1.2rem;
      top: .03rem;
      transform: translateX(-50%); }

.failPage {
  z-index: 10; }
  .failPage .main {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem; }
    .failPage .main .hand {
      width: 70%;
      margin: 0 auto; }
    .failPage .main .text {
      margin: .2rem;
      padding: .4rem .3rem;
      position: relative; }
      .failPage .main .text h1 {
        font-size: .35rem;
        text-align: center;
        line-height: 1.3;
        color: #d76aa9; }
      .failPage .main .text .icon {
        position: absolute;
        right: -.6rem;
        top: -1.2rem;
        width: 2.4rem;
        z-index: -1; }

.footMove {
  animation: footMove 4s infinite linear;
  /*   animation-delay: 1s; */ }

@keyframes footMove {
  0% {
    transform: translate(-50%, 0%); }
  25% {
    transform: translate(-51%, 1%); }
  50% {
    transform: translate(-50%, 0%); }
  75% {
    transform: translate(-49%, -1%); }
  100% {
    transform: translate(-50%, 0%); } }

.handMove {
  animation: handMove .3s infinite linear;
  /*   animation-delay: 1s; */ }

@keyframes handMove {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }

.fadeIn {
  animation: fadeIn 1s ease linear;
  /*   animation-delay: 1s; */ }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
